body{
    background-color: rgb(191, 232, 241);
}

#top{
    padding-top: 20vh;
    padding-bottom: 2rem;
}

#about{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30vh;
    padding-bottom: 5vh;
}

#socials{
    text-align: center;
}


#pat-image-top{
    width: 200px;
    margin: 1rem;
}


.icon{
    width: 3rem;
}

.logo{
    margin: .1rem;
    width: 20rem;
}

.skills-list{
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 1vh;
    font-size: x-large;
}


#react-django{
    width: 500px;
}

.down-arrow{
    padding-top: 20px;
    width: 40px;
}

.section-padding{
    padding-top: 27vh;
}

#projects{
    padding-top: 7vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5vh;
}

.reach-out{
    margin-bottom: 40vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

form{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;    
    background-color: white;
}

footer{
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}